/* ---- CSS général ---- */
body{
	background-color: cornflowerblue;
	color: white;
}

h1,h2{
	text-align: center;
}

/* ---- Tableau jeu ---- */

table{
	margin-left: 10%;
    margin-top: 2%;
    float :left;
	background-color: white;
	border-radius: 0.55em;
}

#jeu{
	display: block;
	margin:auto;
}

td {
    width: 50px;
    height: 50px;
}

/* ---- Case tableau ---- */
.gros{
	border-radius:0.5em;
	background-color: #888;
    width: 70px;
    height: 70px;
}

/* ---- Points ralliements ---- */
.petit{
    background-color:white;
    height: 2px;
    width: 2px;
    border-radius:0.2em;
}

/* ---- Barres ---- */

.largeur{
    
    height: 8px;
}

.hauteur{
    
    width : 8px;
}

.hauteur,.largeur{
	border-radius: 0.2em;
}
/* ---- Survol barres ---- */
.hauteur:hover,.largeur:hover{
	background-color: aqua;
}

/* ---- Score des deux joueurs ---- */
/* ---- Timer du jeu ---- */
.droit{
	float:right;
	margin-right:200px;
	padding:20px;
	text-align: center;
	background-color: white;
	border-radius: 0.4em;
	color:cornflowerblue;
}

.bouton{
	background-color: aquamarine;
	display:inline-block;
}

.joueur1{
    background-color: #F00;
    
}

.joueur2{
    background-color: #0F0;
    
}