/* ---- CSS général ---- */
body{
	background-color: cornflowerblue;
	color: white;
}

h1,h2{
	text-align: center;
}
#container{
	margin-left: 10px;
}
/* ---- Tableau jeu ---- */

table{
    float :left;
	background-color: white;
	border-radius: 0.55em;
}

#jeu{
	display: block;
	margin:auto;
}

td {
    width: 50px;
    height: 50px;
}

/* ---- Case tableau ---- */
.gros{
	border-radius:0.5em;
	background-color: #888;
    width: 70px;
    height: 70px;
}

/* ---- Points ralliements ---- */
.petit{
    background-color:white;
    height: 2px;
    width: 2px;
    border-radius:0.2em;
}

/* ---- Barres ---- */

.largeur{
    
    height: 8px;
}

.hauteur{
    
    width : 8px;
}

.hauteur,.largeur{
	border-radius: 0.2em;
}
/* ---- Survol barres ---- */
.hauteur:hover,.largeur:hover{
	background-color: black;
}

/* ---- Score des deux joueurs ---- */
#score1,#score2{
	padding-bottom:10px;
}
/* ---- Timer du jeu ---- */
#joueur{
	padding-top: 20px;

}
#timer{
	padding-bottom: 20px;
}

.droit{
	float:right;
	margin-right: 500px;
	padding:50px;
	text-align: center;
	background-color: white;
	border-radius: 0.4em;
	color:cornflowerblue;
}

.bouton{
	float:right;
	margin-right: 600px;
	margin-top:50px;
	padding: 10px;
	background-color: dodgerblue;
	color:whitesmoke;
	display:inline-block;
	border-radius: 0.3em;
}

.joueur1{
    background-color: #F00;
    
}

.joueur2{
    background-color: #0F0;
    
}