/* ---- CSS général ---- */
body{
	background-color: coral;
}

h1,h2{
	text-align: center;
}

/* ---- Tableau jeu ---- */

table{
	margin-left: 10%;
    margin-top: 2%;
    float :left;
	background-color: white;
	border-radius: 0.55em;
}

/* ---- Case tableau ---- */
.gros{
	border-radius:0.5em;
	background-color: #888;
    width: 70px;
    height: 70px;
}

/* ---- Points ralliements ---- */
.petit{
    background-color:white;
    height: 2px;
    width: 2px;
    border-radius:0.2em;
}








nav {
    float: left;
    margin:  auto;
}

#score{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

#score1,#score2{
    
}

td {
    width: 50px;
    height: 50px;
    background-color: #EEE;
}

.largeur{
    
    height: 5px;
}

.hauteur{
    
    width : 5px;
}




.joueur1{
    background-color: #F00;
    
}

.joueur2{
    background-color: #0F0;
    
}